<h1>Editing Panneau</h1>

  <%= form_for(@panneau) do |f| %>
    <% if @panneau.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(panneau.errors.count, "error") %> prohibited this panneau from being saved:</h2>

        <ul>
        <% panneau.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, disabled:true %>
    </div>

    <div class="field">
        <%= f.switch :is_ok, label: "Bonne état ?" %>
    </div>

    <div class="field">
      <%= f.label :ville %>
      <%= f.text_field :ville, disabled:true %>
    </div>

    <div class="field">
      <%= f.label :lat %>
      <%= f.text_field :lat, disabled:true%>
    </div>

    <div class="field">
      <%= f.label :long %>
      <%= f.text_field :long, disabled:true %>
    </div>

    <div class="actions">
      <%= f.submit class: "button" %>
    </div>
  <% end %>

<%= link_to 'Show', @panneau %> |
<%= link_to 'Back', panneaus_path %>