

<body onload="onBodyLoad();">
<p id="notice"><%= notice %></p>
<hr>
  
  <div class="row">
      <div href="#" class="button small-12 large-12 columns" onclick="init_geoloc();">Actualiser la position</div>
  </div>

  <h1 id="closest_panneau"> Recharger en cas si rien ne se passe au bout de 10 secondes</h1>

  <div class="row button-group">
      <div href="#" class="button small-4 large-4 columns" onclick="change_panneaus_info({'is_ok':true});">Bon état</div>
      <div href="#" class="button small-4 large-4 columns"onclick="change_panneaus_info({'is_ok':false});">A recoller</div>
  </div>
  <hr>

  <!-- load giff-->
  <div class= "modal"></div>

  <div class="row">
    <div style="max-height: 800px; height: 300px;" class="small-12 large-12 columns" id="mapdiv"></div>
  </div>

  <hr>
  <table>
  <%@panneaus.each do |panneau|%>
    <tr>
      <td> <%= panneau[:name] %> </td>
      <td>  
        <% if panneau.updated_at %>
          <%= panneau.updated_at %>
        <% else %>
          Jamais inspecté
        <% end%>
      </td>
      <td>
        <% if panneau[:is_ok] %> 
          <i class="gen-enclosed foundicon-checkmark"><p id=<%=panneau.id%> >Bonne état</p></i>
        <%else%>
          <i class="social foundicon-thumb-down panneau_pourri"><p id=<%=panneau.id%>>A recoller</p></i>
        <%end%>
      </td>
    </tr>
  <%end%>
  </table>


  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzV04B77KxUM3NcLsXVA9U_2D7v1BwKMA"></script>
  <script type="text/javascript">

  var gm_marker = [];

    function onBodyLoad(){
        
        if (window.location.protocol == "http:"){
          $("H1").html("!! Passez en HTTPS:// dans la barre d'adresse !!!");
        }
        loadGiff(true);
        initGoogleMap();

    }

    function initGoogleMap(new_spec_update) {

      function geoPosition(position){

        var lat = position.coords.latitude;
        var long = position.coords.longitude;
        if (typeof spec_update != 'undefined'){
          var is_ok = spec_update.is_ok;
          var id_panneaux = spec_update.id_panneaux;
        }
        spec_update = new_spec_update;

        // get parameter from url
        $.urlParam = function(name){
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results==null){
               return null;
            }
            else{
               return results[1] || 0;
            }
        }
        // prepare url for nearest pannel
        var path = "panneaus/get_nearest_pannel?lat="+lat+"&long="+long;
        if (typeof $.urlParam('ville') != 'undefined'){
          path += "&ville="+$.urlParam('ville');
        }

        if (typeof is_ok != 'undefined'){
          path += "&is_ok="+is_ok;
        }
        if (typeof id_panneaux != 'undefined'){
          path += "&id_panneaux="+id_panneaux;
        }

        // get date from engine
        $.ajax({
            url: path,
            type: "get",
            data: ""
        }).done(function(panneaus) {
          //console.log(panneaus);

          var closest_panneau = panneaus[0]
          $("#closest_panneau").html(closest_panneau.name);
          $("#closest_panneau").attr("lat",closest_panneau.lat);
          $("#closest_panneau").attr("long",closest_panneau.long);
          $("#closest_panneau").attr("id_panneaux",closest_panneau.id);
          if (typeof map == 'undefined'){
            console.log("create map");
            create_google_map(panneaus);
          } else {
            console.log("update map");
            update_google_map(panneaus);
          }
          loadGiff(false);
        });
      }

      // check if geoloc is here
      if(navigator.geolocation){
        navigator.geolocation.getCurrentPosition(geoPosition);
      } else {
        $("H1").html("! Activer la Geoloc !");
        loadGiff(false);
      }
    }

    function create_google_map(panneaus){
      map = new google.maps.Map(document.getElementById('mapdiv'), {
        zoom: zoom
      });

      add_google_map_panneaus(panneaus);
    }

    function update_map(panneaus){
      if (is_update_running == false){
        is_update_running = true;
        var markers_last = gm_marker[0];
        if (typeof spec_update != 'undefined'){
          if (spec_update.is_ok == true){
            markers_last.setIcon('/mavoix-ok.png');  
            $("#"+spec_update.id_panneaux).html("Bonne état");
          } else {
            markers_last.setIcon('/mavoix-no.png');  
            $("#"+spec_update.id_panneaux).html("A recoller");
          }   
        }
        is_update_running = false;
      }
    }


    function add_google_map_panneaus(panneaus){


      for (var i = panneaus.length - 1; i >= 0; i--) {
        var panneau = panneaus[i];
        if (panneau.is_ok == true){
          var icon = '/mavoix-ok.png';
        }  else {
          var icon = '/mavoix-no.png';
        }

        var marker = new google.maps.Marker({
          position: {lat: panneau.long, lng: panneau.lat},
          map: map,
          icon: icon
        }); 
        gm_marker.push(marker) ; 
      }  
      var closest_panneau = panneaus[0];
      map.setCenter({lat: closest_panneau.long, lng: closest_panneau.lat}); 
      //map.setCenter (marker_info_closest_panneau, zoom);

    }

  </script>

