<table>
  <tr>
    <td>
        <%= link_to new_panneau_path(ville: params[:ville]), class: "button" do %>
              nouveau panneau
        <%end%>
    </td><td></td><td></td><td></td></tr>
  <%@panneaus.each do |panneau|%>
    <tr>
      <td>
          <%= panneau[:name] %>
      </td>
      <td>  
        <% if panneau.updated_at %>
          <%= panneau.updated_at %>
        <% else %>
          Jamais inspecté
        <% end%>
      </td>
      <td>
          <% if panneau[:is_ok] %> 
            <%= link_to edit_panneau_path(panneau), class: "warning button" do %>
              <i class="gen-enclosed foundicon-checkmark"></i><p id=<%=panneau.id%> >Bon état</p>
            <%end%>
          <%else%>
            <%= link_to edit_panneau_path(panneau), class: "alert button" do %>
              <i class="social foundicon-thumb-down panneau_pourri"></i><p id=<%=panneau.id%>>A recoller</p>
            <%end%>
          <%end%>
      </td>
    </tr>
  <%end%>
</table>