<!doctype html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "#MA VOIX" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
    <link rel="icon" href="https://www.mavoix.info/wp-content/uploads/2017/03/cropped-icon-32x32.png" sizes="32x32">
    <link rel="icon" href="https://www.mavoix.info/wp-content/uploads/2017/03/cropped-icon-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="https://www.mavoix.info/wp-content/uploads/2017/03/cropped-icon-180x180.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js"></script>

  </head>

    <%= yield %>

</html>