<!doctype html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "#MA VOIX" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
    <link rel="icon" href="https://www.mavoix.info/wp-content/uploads/2017/03/cropped-icon-32x32.png" sizes="32x32">
    <link rel="icon" href="https://www.mavoix.info/wp-content/uploads/2017/03/cropped-icon-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="https://www.mavoix.info/wp-content/uploads/2017/03/cropped-icon-180x180.png">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js"></script>

  </head>

    <p id="notice"><%= notice %></p>

    <body>

        <div class="top-bar">
            <div class="top-bar-left">
              <ul class="menu">
                <li class="menu-text"><img src="https://www.mavoix.info/wp-content/uploads/2017/01/logMAVOIXNrectangleBL-fond-blanc.png" alt="Retour Accueil" width="200" height="103" style="max-width: 200px; max-height: 100px; width: 450px; height: 57.2222px;" data-no-retina="" class=" attachment-16" scale="0"></li>
              </ul>
            </div>
        </div>

        <%= yield %>

        <div id='footer'>
           Licence WTFPL.
        </div>

        <a href="https://github.com/adebeo/adopteunpanneau2"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>

    </body>

</html>